.modal {
    display: none;
  }
  
  .modal.open {
    display: block; 
  }

  .modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
}

.modal-content {
    background-color: var(--background-color);
    color: var(--font-color);
    width: 500px;
    height: 200px;
    border: none;
    box-shadow: none;
    font-size: 25px;
    border-radius: 20px;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancel-button,
.accept-button {
    border-radius: 30px;
    border: none;
    color: var(--background-color);
    width: 120px;
    height: 40px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.cancel-button {
background-color: var(--pink-button);
}
.accept-button {
    background-color: var(--green-button);
}

.cancel-button:hover,
.accept-button:hover { 
    background-color: var(--font-color);
    color: var(--background-color);
}

@media (max-width: 480px) { 
    .modal-content {
        width: 320px;
        height: 225px;
    }
}