.card-img-top {
    width: 100%; /* Ajusta el valor según tus preferencias */
    height: 300px; /* Para mantener la proporción original */
    object-fit: cover;
    border-radius: 20px;
  }
  
  /* Personalizar el espacio entre las tarjetas si es necesario */
  .card {
    margin: 20px; /* Ajusta el valor según tus preferencias */
    padding: 0;
    background-color: #FBFDCE;
    border: none;
    border-radius: 20px;
    color: #0079FF;
  }

  .card-title {
    font-weight: 700;
  }