.form-container {
    border: 5px solid var(--background-color);
    padding: 20px;
    border-radius: 20px;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 60%;
    color: var(--font-color);
}

.columna1, .columna2{
    padding: 10px 20px;
    width: 100%;
}

h2{
    font-weight: 900;
    display: flex;
    margin: center;
    justify-content: center;
    padding-bottom: 10px;
    color: var(--pink-button);   
    font-size:25px;
    border-bottom:2px var(--pink-button);
}

.form_create{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 5%;
}

.blue-background{
    color: var(--font-color);
}

.form_create .form-label{
    font-weight:700;
    margin: auto;
    margin-bottom: 0%;
}

.form-control{
 width: 100%;
 margin: auto;
 border: none;
}
.form-control-container{
    width: 200px;
   
}

.shadow-top {
    box-shadow: var(--box-shadow);
}

.custom-textarea{
    width: 100%;
    height: 350px;
}

.custom-textarea::placeholder{
    color: var(--font-color);
}

.accept{
    color:var(--bg-card);
    background: var(--green-button);
}

.accept:hover{
    background: var(--accept-hover);
    
}

.btn{
    margin-top: 35px;
    width: 110px;
    border-radius: 40px;
    height: 38px;
}


.add_file .input-group {
    display: flex;
    align-items: center;
    background-color: var(--font-color);
    border-radius: 80px;
}

.add_file .input-group .input-group-text {
    cursor: pointer;
    background-color: var(--font-color);
    margin-right: 5px;
    border: none;
}

.add_file .input-group img {
    display: block;
    background-color: var(--font-color);
}

.img_add{
    background-color: var(--font-color);
}


@media (max-width: 768px) {

    .form-container{
        width: 100%;
        border: 2px solid var(--background-color);
    }

    .form_create {
        flex-direction: column; 
    }

    .columna1,
    .columna2 {
        width: 100%;
        padding: 5px;
    }

    .columna2 {
        margin-top: 20px;
    }

    .mb-1 {
        width: 100%; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid var(--bg-card);
    }
}


@media (min-width: 768px) {
    .form_create {
        flex-direction: row;
        width: 100%; 
    }

    .columna1,
    .columna2 {
        width: 50%; 
        margin-right: 10px; 
        margin-top: 0;
    }

    .mb-1 {
        width: 50%; 
        margin-top: -100px;
        margin-left: 20px;
    }

    
}