.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo-container img {
    width: 165px;
    height: 78px;
}

.search-input-container {
    display: flex;
    align-items: center;
    position: relative;
}

.navbar-icons {
    display: flex;
    justify-content: space-around;
}

.form-control {
    width: 200px;
    height: 40px;
    padding-right: 50px; 
    background-color: var(--background-color);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}

.search-icon{
    position: absolute;
    left: 165px;
    top: 10px;
}

.img-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.icon-nav{
    padding: 7px;
}

.blue-line {
    width: 100%;
    height: 2px;
    margin: 0;
    background-color: var(--font-color); 
    position: relative;
}
input::placeholder,
input#search {
    color: var(--font-color) !important;
}

@media (max-width: 768px) {
    .blue-line {
        display: none;
    }

    .form-control-container{
        padding-top: 15px;
    }

    .navbar-content {
        flex-direction: column;
        align-items: center;
    }

    .search-icon {
        top:22px;
    }

    .navbar-icons {
        width: 100%;
        padding: 10px;
        background-color: var(--background-color); 
        position: fixed;
        bottom: 10px;
        z-index: 5;
        border-radius: 30px;
        width: 340px;
        height: 62px;
        align-items: center;
        box-shadow: 0px 0px 10px 0px rgba(0, 223, 162, 0.425);
    }

}






