.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo-container img {
    width: 165px;
    height: 78px;
}

.search-input-container {
    display: flex;
    align-items: center;
    position: relative;
}
.form-control-container{
    display: flex
}

.form-control {
    width: 200px;
    height: 40px;
    padding-right: 50px; 
    background-color:#FBFDCE;
    border-radius: 20px;
    box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.0625);
}

.search-icon{
    position: absolute;
    left: 165px;
    top: 15px;
}

.img-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.icon-nav{
    padding: 7px;
}

.blue-line {
    width: 100%;
    height: 2px;
    margin: 0;
    background-color: #0079FF; 
    position: relative;
}
input::placeholder{
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    color: #0079FF;
}

