:root{
    --font-color: #0079FF;
    --green-button: #00DFA2;
    --pink-button:#FF0060;
    --background-color: #FBFDCE;
    --accept-hover:rgb(58, 248, 67);
    --box-shadow: inset 0px 7px 5px -5px rgba(0, 0, 0, 0.75);
    --bg-card: rgb(255, 255, 255);
}


.navbar-content {
    display: flex;
 justify-content: right;
    align-items: center;
    padding: 15px;
}

.navbar-right{
    display: flex;
    justify-content: right;
}
.logo-container img {
    width: 165px;
    height: 78px;
}

.search-input-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
 
}

.navbar-icons {
    display: flex;
    justify-content: right;
    
}

.form-control {
    width: 200px;
    height: 40px;
    padding-right: 50px; 
    background-color: var(--background-color);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    border: none;
}

.search-container {
    position: relative;
  }
  

.search-icon{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
}

.form-input-search {
    padding-right: 60px;
    padding: 10px;
    margin-right: 1rem;
    border: 1px solid var(--blue-primary);
    border-radius: 20px;
    background: var(--yellow-light, #FBFDCE);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    color: var(--blue-primary);
    flex-grow: inherit;
  }

  
.img-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.icon-nav{
    padding: 7px;
}

.blue-line {
    width: 100%;
    height: 2px;
    margin: 0;
    background-color: var(--font-color); 
    position: relative;
}
input::placeholder,
input#search {
    color: var(--font-color) !important;

}



@media (max-width: 768px) {
    .blue-line {
        display: none;
    }

    .form-control-container{
        padding-top: 15px;
    }

    .navbar-content {
        flex-direction: column;
        align-items: center;
    }

    .search-icon {
        top:20px;
    }

    .navbar-icons {
        width: 100%;
        padding: 10px;
        background-color: var(--background-color); 
        position: fixed;
        bottom: 10px;
        z-index: 5;
        border-radius: 30px;
        width: 340px;
        height: 62px;
        align-items: center;
        box-shadow: 0px 0px 10px 0px rgba(0, 223, 162, 0.425);
    }

}






