@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');
:root{
  --font-color: #0079FF;
  --green-button: #00DFA2;
  --pink-button:#FF0060;
  --background-color: #FBFDCE;
  --accept-hover:rgb(58, 248, 67);
  --box-shadow: inset 0px 7px 5px -5px rgba(0, 0, 0, 0.75);
  --bg-card: rgb(255, 255, 255);
}

