.show-container {
    display: flex;
    align-items: flex-start;
    padding: 50px;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: 30px;
}

.travel-name {
    color: var(--pink-button);
    font-weight: 700;
    font-size: 40px;
}

.travel-location {
    color: var(--pink-button)
}

.travel-description {
    color: var(--font-color);
    font-size: 25px;
}

.show-image {
    width: 556px;
    height:557px;
    object-fit: cover;
    border-radius: 20px;
}

.icon-container {
    display: flex;
    margin-top: 30px;
}

@media (max-width: 767px) { 
    .show-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .titles-container {
        background-color: var(--pink-button);
        border-radius: 20px;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 110px;
        padding: 10px;
        justify-content: center;
    }

    .text-container {
        display: flex;
        align-items: center;
        z-index: 2;
        margin-top: 100px;
        justify-content: center;
    }

    .travel-name, 
    .travel-location {
        color: var(--background-color);
    }

    .travel-name {
        font-size: 30px;
        text-align: center;
    }

    .show-image {
        width: 390px;
        height: 400px;
        border-radius:0 0 20px 20px;
        object-fit: cover;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;

    }
    
    .travel-description {
        font-size: 20px;
        margin-top: 20px;
    }
    .icon-container{
        display: flex;
        margin-top: -30px;
        margin-left: 180px;
       }
}