.form-container {
    border: 5px solid var(--background-color);
    padding: 20px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 55%;
    color: var(--font-color);
}

.columna1, .columna2{
    padding: 10px 20px;
    width: 100%;
}

.Title{
    font-weight: 700;
    display: flex;
    margin: center;
    justify-content: center;
    padding-bottom: 10px;
    color: var(--pink-button);   
    font-size:25px;
    border-bottom:2px solid var(--pink-button);
}

.form_create{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 5%;
}


.form_create .form-label{
    font-weight:700;
    margin: auto;
    margin-bottom: 2%;
}

.form-control{
 width: 100%;
 margin: auto;
 border: none;
 background-color: var(--background-color);
 color: var(--font-color);
}

.form-control-container{
    width: 200px;
   
}

input.input, input.inputimg{
    background-color: var(--background-color);
    color: var(--font-color);
    width: 100%;
    margin: auto;
    border: none;
    padding: 8px;
    
}

input.inputimg::placeholder{
    padding-left: 55px;
}

.shadow-top {
    box-shadow: var(--box-shadow);
}

.custom-textarea{
    width: 100%;
    height: 350px;
    background-color: var(--background-color);
    border: none;
}

.input::placeholder,.inputimg::placeholder,
.custom-textarea::placeholder {
    color: var(--font-color);
    font-size: 14px;
}

button.accept.custom-accept{
    color:var(--bg-card);
    background-color:var(--green-button);
    font-weight: bold;
}

.custom-cancel{
    color: var(--bg-card);
    background-color: var(--pink-button);
    font-weight: bold
}

.accept:hover{
    background: var(--accept-hover); 
}
.cancel:hover{
    background-color: var(--font-color);
}

.btn{
    margin-top: 35px;
    width: 120px;
    border-radius: 40px;
    height: 38px;
}


.add_file .input-group {
    display: flex;
    align-items: center;
    background-color: var(--font-color);
    border-radius: 100px;
}

.add_file .input-group .input-group-text {
    cursor: pointer;
    background-color: var(--font-color);

    border-radius: 100px;
    border: none;
}



@media (max-width: 768px) {

    .form-container{
        width: 100%;
        border: 2px solid var(--background-color);
    }

    .form_create {
        flex-direction: column; 
    }

    .columna1,
    .columna2 {
        width: 100%;
        padding: 5px;
    }

    .columna2 {
        margin-top: 20px;
    }

    .mb-1 {
        width: 100%; 
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid var(--bg-card);
    }
}


@media (min-width: 768px) {
    .form_create {
        flex-direction: row;
        width: 100%; 
    }

    .columna1,
    .columna2 {
        width: 50%; 
        margin-right: 10px; 
        margin-top: 0;
    }

    .mb-1 {
        width: 50%;
        margin-top: -100px;
    }

    
}