.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.card{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.cards {
    margin: 20px;
    padding: 0;
    background-color: var(--background-color,  #FBFDCE);
    border: none;
    border-radius: 20px;
    color: var(--font-color);
    height: 400px;
}

.card-body {
    max-height: 150px;
}

.card-body h5, p{
    margin: 0%;
}

.card-title,
.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}

.card-title {
    font-weight: 700;
    font-size: 20px;
}

.card-text {
    font-size: 20px;
   
}

.card-link {
    text-decoration: none;
  }
  .icon-edit, .icon-delete{
    padding: 0px 10px 15px;
  }
  .icon-info{
    width: 40px;
    position: absolute;
    margin-left: 245px;
    margin-top: 8px;
  }

  .icon-container{
    display: flex;
    justify-content: flex-end
  }
  .desktop{
    position:absolute;
    left: 155px;
  }

  .card-edit img{
    width: 35px;
    padding: 5px;
  }

  .date-cards{
    margin: auto;
    margin-top: 12px;
    display:flex;
    width: 95%;
    justify-content: space-between;
  }
  .card-delete-button{
    background-color: transparent;
    padding: 5px;
  }
  .icon-cards-delete{
    width: 35px;
    padding: 5px;
  }

  @media (max-width: 767px) {

    .card{
        margin: auto;
        justify-content: center;
        padding: 5px;
        display: grid;
        grid-template-columns: 80%;
    }

    .cards{
        margin: 10% 0%;
        height: 450px;
    }

    .card-title {
        font-weight: 700;
        font-size: 20px;
    }
    
    .card-text {
        font-size: 18px;
    }

    .card-link {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card-body{
        height: 10rem;

    }

    .container-fluid{
        margin-bottom: 5rem;
    }
    
    .row{
        margin-left: 0.5rem;
    }
    .desktop{
        position:absolute;
        display: flex;
        margin: 50px 8px!important;
    }
}
    